/* LOGIN SCREEN */
.login-screen
{
	height: 1vh;
}
.login-field
{
	align-items: center;
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin-top: 100px;
}
.login-header,
.fitlit-header,
.details-box,
.login-screen p
{
	font-family: 'Comfortaa', cursive;
}
.login-header
{
	align-items: center;
	display: flex;
	font-size: 6em;
	height: 150px;
	justify-content: center;
}
.login-screen p
{
	font-size: 2em;
}
input
{
	width: 300px;
}
input, button
{
	font-family: 'Comfortaa', cursive;
	font-size: 1.5em;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
}
button
{
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	border-radius: 10px;
	padding: 5px;
	width: 250px;
}
button:hover
{
	background-image: linear-gradient(to left, #4facfe 0%, #00f2fe 100%);
}
/* MAIN DASH */
/* LAYOUT */

.hidden
{
	display: none;
}
body
{
	background: linear-gradient(333deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	background: rgb(34,193,195);
	margin: 0;
}
header
{
	animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	background-color: rgba(2, 9, 45, 0.4);
	color: white;
	display: flex;
	height: 100px;
	justify-content: space-between;
	webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	width: 100vw;
}
.fitlit-header
{
	font-size: 2em;
	margin-left: 30px;
	padding-top: 25px;
}
.details-box
{
	font-size: 75%;
}
.info-btn
{
	border-radius: 25px;
	font-size: 18px;
	height: 50px;
	line-height: 1.33;
	margin-top: 25px;
	padding: 10px 16px;
	width: 50px;
}
.user-details
{
	display: flex;
	justify-content: space-around;
	width: 40%;
}
.hide
{
	visibility: hidden;
}
.main-container
{
	display: grid;
	grid-gap: 20px;
	grid-template-areas: "today today scoreboard"
 "hydration activity scoreboard"
 "steps sleep scoreboard"
 "trends trends scoreboard";
	grid-template-columns: 460px 460px 220px;
	grid-template-rows: 0.5fr 2fr 2fr 1fr;
	height: 1200px;
	margin: 25px auto;
	width: 1200px;
}
.hydration, .activity, .steps, .sleep, .trends, .scoreboard, .today-info
{
	animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	border-radius: 10px;
	box-shadow: 2px 4px 7px 0px #4b4b4f;
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	padding: 15px;
	webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.today-info
{
	background-color: rgba(2, 9, 45, 0.3);
	grid-area: today;
}
.today-info span, .you, .comparisons span
{
	color: #fda085;
}
.hydration
{
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	grid-area: hydration;
}
.activity
{
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	grid-area: activity;
}
.steps
{
	background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
	grid-area: steps;
}
.step-num
{
	color: #f00;
}
.sleep
{
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	grid-area: sleep;
}
.trends
{
	background-color: rgba(2, 9, 45, 0.3);
	grid-area: trends;
}
.scoreboard
{
	background-color: rgba(2, 9, 45, 0.3);
	grid-area: scoreboard;
	overflow: scroll;
}
.top-row p
{
	margin: 0;
}
#week-hydration
{
	background: rgb(252, 239, 239, 0.4);
	border-radius: 10px;
}
#step-stair-chart
{
	width: 500px;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-2-3 19:38:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 
@-webkit-keyframes scale-in-hor-center
{
	0%
	{
		opacity: 1;
		transform: scaleX(0);
		webkit-transform: scaleX(0);
	}
	100%
	{
		opacity: 1;
		transform: scaleX(1);
		webkit-transform: scaleX(1);
	}
}
@keyframes scale-in-hor-center
{
	0%
	{
		opacity: 1;
		transform: scaleX(0);
		webkit-transform: scaleX(0);
	}
	100%
	{
		opacity: 1;
		transform: scaleX(1);
		webkit-transform: scaleX(1);
	}
}
@media only screen and (max-width: 800px)
{
	body
	{
		background: rgb(34,193,195);
	}
	header
	{
		display: flex;
		flex-direction: column;
		height: 200px;
		justify-content: center;
		width: auto;
	}
	.user-details
	{
		display: inline;
		margin: auto;
		padding-bottom: 30px;
	}
	.details-box
	{
		display: inline-flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.main-container
	{
		display: grid;
		grid-gap: 20px;
		grid-template-areas: "today"
	 "hydration"
	 "activity"
	 "steps"
	 "sleep"
	 "trends";
		grid-template-columns: 320px;
		grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
		height: 600px;
		margin: 25px auto;
		width: 320px;
	}
}